<div class="main-container">
  <div class="logo-header">
    <h1>Cafe Management System</h1>
  </div>
  <div class="login-sections">
    <div class="login-container">
      <mat-toolbar>
        <mat-toolbar-row fxLayout="row">
          <h2 class="title-center">Get Started</h2>
        </mat-toolbar-row>
      </mat-toolbar>
      <div class="d-flex-column">
        <button mat-flat-button color="primary" (click)="signupAction()">SignUp</button>
        <p>Or</p>
        <button mat-flat-button color="seconday">Login</button>
      </div>
      
    </div>
  </div>
  <div class="footer">Here goes a Footer</div>
</div>
