.title-center{
  flex: 1 1 auto;
  text-align: center;
  color: white;
}

mat-toolbar{
  width: auto;
  margin-bottom: 10px;
  background-color: rgb(46, 46, 248);
}

mat-form-field{
  width: 100%;
  padding: 10px;
}

mat-dialog-actions{
  margin-bottom: 20px;
}