<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <h2 class="title-center">Forgot Password</h2>
  </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="forgotPassword">
    <div fxFlex fxLayout="column">
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required>
        <mat-error *ngIf="forgotPassword.controls.email.touched && forgotPassword.controls.email.invalid">
          <span *ngIf="forgotPassword.controls.email.errors?.required">This Field is mandatory</span>
          <span *ngIf="forgotPassword.controls.email.errors?.pattern">Enter valid Email</span>
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-flat-button color="primary" type="submit" (click)="submit()" [disabled]="!(forgotPassword.valid && forgotPassword.dirty)">Go!</button>
  <button mat-raised-button color="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>
