<div class="sidenav-header">
  <img [width]="profilePicSize()" [height]="profilePicSize()" src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="profile"/>
  <div class="header-text" [class.hide-header-text]="sidenavCollapsed()">
    <h2>Your Name</h2>
    <p>Administrator</p>
  </div>
</div>
<mat-nav-list>
  <ng-container *ngFor="let item of items">
    <a mat-list-item class="menu-item" *ngIf="(item.role === '' || tokenPayload.role === item.role)"  [routerLink]="item.route" routerLinkActive="selected-menu-item" #rla="routerLinkActive" [activated]="rla.isActive">
      <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
      <span matListItemTitle *ngIf="!sidenavCollapsed()">{{item.label}}</span>
    </a>
  </ng-container>
  
</mat-nav-list>
